.footer-carrinho {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px 10px 0px 0px;
}

.footer-carrinho button {
    background: transparent;
    color: #fff;
    font-size: large;
    font-family: poppins;
}