body {
    background-color: #F3D2A5;
    font-family: 'poppins', sans-serif;
}

header div {
    display: flex;
}

header .header-h1 {
    display: flex;
    justify-content: center;
    color: #7C3225;
    margin-top: 20px;
}

.header-produtos {
    height: 100px;
    background: linear-gradient(to top, #f887b8 50%, #23bace 50%);
    margin-top: 20px;
    border-radius: 0px 50px 50px 0px;
}

.header-produtos h1 {
    margin-top: 18px;
    color: #ffffff;
    font-size: 15px;
    margin-left: 20px;
}

.text-produtos {
    display: grid;
}

.text-produtos p {
    margin: 16px 0 0 10px;
    padding: 10px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;

}