main {
    display: flex;
    flex-direction: column;   /* organiza o link e o bloco em coluna */
    align-items: center;      /* centraliza horizontalmente */
    justify-content: center;  /* centraliza verticalmente (se o main tiver altura definida) */
    min-height: 100vh;        /* opcional: ocupa a tela inteira */
}


.imgcardapio {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.imgcardapio1 {
    width: 440px;
    max-width: 100%;
    height: auto;
}

.order {
    position: fixed;
    display: flex;
    justify-self: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    margin-top: 180px;
    padding: 10px 20px;
    width: 186px;
    background-color: green;
    border-radius: 100px;
    text-decoration: none;
    border: 2px solid black;
    animation: pulse 1.5s infinite; /* nome da animação, duração e repetição */
}

@keyframes pulse {
  0% {
    transform: scale(1);       /* tamanho normal */
    opacity: 1;                /* totalmente visível */
  }
  50% {
    transform: scale(1.1);     /* aumenta um pouco */
    opacity: 0.7;              /* fica mais transparente */
  }
  100% {
    transform: scale(1);       /* volta ao normal */
    opacity: 1;
  }
}
