main {
    background-image: url("../../../images/pages/index/main-produtos/fundo-produtos.png");
}

.container-produtos {
    margin: 10px 0px 10px 0px;
    background-color: rgba(162, 208, 248, 0.274);
    display: flex;
    align-items: center;
    justify-content: space-between, center;
    padding: 10px;
}

.img-produto {
    box-shadow: 0px 0px 10px rgba(0, 0, 0);
}

.center-text {
    flex: 1;
    text-align: center;
}

.center-text h1 {
    font-size: 18px;
    margin-top: 1px;
}

.center-text p {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: x-large;
    margin-top: 10px;
}

.green-button {
    position: relative;
    margin-right: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(to top, green, rgb(9, 199, 34));
    border-radius: 100px;
}
