nav {
    background-image: url("../../../images/pages/index/navbar-inicio/fundo.png");
    background-size: 600px;
}

nav i {
    font-size: 25px;
}

nav .div-navbar {
    background-image: linear-gradient(to top, rgb(245, 213, 166), rgb(0, 0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav div img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0);
    border-radius: 100px;
}

.cart-list {
    display: none;
    place-content: center;
    align-items: center;
    justify-items: center;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.cart-list .white-bottom {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputsearch {
    display: none;
    padding: 5px 30px 5px 30px;
    border-radius: 100px;
    border: solid 2px green;
    text-align: center;
}

#arrowLeft {
    display: none;
}