@import './navbar.css';
@import './footer.css';
@import './main.css';
@import './section-bebidas.css';
@import './body.css';
@import './meu-carrinho.css';
@import './produtos-bg.css';

@import '../../global/global.css';