.meu-carrinho {
    display: none;
    place-content: center;
    align-items: center;
    justify-items: center;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    font-size: 25px;
}

.meu-carrinho .white-bottom {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.meu-carrinho div h1 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

#delivery-choice-text {
    display: flex;
    justify-content: center;
}

.deliverybtnpickup {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.deliverybtnpickup button {
    background-color: white;
    border: 1px solid black;
    border-radius: 100px;
    font-size: 20px;
    padding: 8px 20px;
}

#btn-delivery {
    margin-bottom: 10px;
}

.pickupinfo {
    background-color: rgba(255, 255, 0, 0.671);
    display: none;
    font-size: 20px;
    margin: 0 auto;
}

.deliveryinfo {
    display: none;
    font-size: 20;
    text-align: center;   /* centraliza texto */
    margin: 0 auto;       /* centraliza o bloco */
    width: 100%;           /* largura adaptável ao mobile */
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.cart-items .cartitemsp {
  text-align: center;
  font-weight: bold; /* opcional, para destacar */
}

#cart-items-list {
    flex: 1;
    overflow-y: auto;
    padding-right: 5px;
}

.container-btn {
    display: flex;
    justify-content: center;
}

.close-modal-btn {
    display: flex;
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    font-size: 30px;
}

.checkout-btn {
    background-color: green;
    color: white;
    padding: 10px 78px;
    border-radius: 100px;
    font-size: 20px;
}

.address {
    display: flex;
    align-items: center;
    border: 1px solid rgb(59, 108, 201);
    padding: 5px 50px;
    font-size: 16px;
    margin-bottom: 10px;
}

.address-ward {
    display: none;
    color: red;
}

.buttonmodal {
    background-color: red;
}

.containermodal {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.descriptionmodal {
    font-size: 15px;
}

.pricequantity {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.btnshopping {
    display: flex;
    gap: 15px;
}

.btn-decrease {
    background-color: rgba(240, 248, 255, 0);
    padding: 0px 11px;
    border: 1px solid gray;
    font-size: 20px;
}

.btn-increase {
    background-color: rgba(240, 248, 255, 0);
    padding: 0px 10px;
    border: 1px solid black;
    font-size: 20px;
}

/* Classe utilitária para esconder elementos */
.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Estilos para indicar erro nas opções e campos */
.error-text {
    color: red !important;
}

.error-border {
    border: 2px solid red !important;
}