nav {
    background-image: url("../../../images/pages/index/navbar-inicio/fundo.png");
    background-size: 600px;
}

nav i {
    font-size: 25px;
}

.menureturn {
    text-decoration: none;
    color: #000;
}

nav .div-navbar {
    background-image: linear-gradient(to top, rgb(245, 213, 166), rgb(0, 0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav div img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0);
    border-radius: 100px;
}


.cart-list {
    display: none;
    place-content: center;
    align-items: center;
    justify-items: center;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.cart-list .white-bottom {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.searchiconinput {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 213, 166);
    gap: 10px;
}

.inputsearch {
    display: none;
    padding: 5px 40px;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 100px;
    border: solid 2px green;
    text-align: center;
    font-size: 16px;
}

#arrowLeft {
    display: none;
    margin-top: 18px;
}

.fa-solid {
    font-size: 35px;
}

.whatsapplink {
    position: fixed;
    top: 10px;
    right: 10px;
}

.whatsappimage {
    width: 50px;
    animation: pulse 1.5s infinite; /* nome da animação, duração e repetição */
}

@keyframes pulse {
  0% {
    transform: scale(1);       /* tamanho normal */
    opacity: 1;                /* totalmente visível */
  }
  50% {
    transform: scale(1.1);     /* aumenta um pouco */
    opacity: 0.7;              /* fica mais transparente */
  }
  100% {
    transform: scale(1);       /* volta ao normal */
    opacity: 1;
  }
}