.adjustingcenter {
    align-items: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}

.imgcardapio {
    display: flex;
    flex-direction: column;
}

.imgcardapio1 {
    width: 360px;
    height: auto;
}

.order {
    position: fixed;
    display: flex;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    margin-top: 400px;
    padding: 10px 40px;
    width: 186px;
    background-color: green;
    border-radius: 100px;
    text-decoration: none;
    border: 2px solid black;
    animation: pulse 1.5s infinite; /* nome da animação, duração e repetição */
}

@keyframes pulse {
  0% {
    transform: scale(1);       /* tamanho normal */
    opacity: 1;                /* totalmente visível */
  }
  50% {
    transform: scale(1.1);     /* aumenta um pouco */
    opacity: 0.7;              /* fica mais transparente */
  }
  100% {
    transform: scale(1);       /* volta ao normal */
    opacity: 1;
  }
}
